name: ci
on:
  push:
  pull_request:
  schedule:
  - cron: '0 18 * * 4'
jobs:
  test:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'foundweekends' }}
    steps:
    - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: 8
        distribution: temurin
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - uses: sbt/setup-sbt@v1
    - run: sbt -v test makeSite
    - id: generate_token
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      if: ${{ github.repository_owner == 'foundweekends' && github.ref == 'refs/heads/main' && github.event_name == 'push' }}
      with:
        app-id: 89697
        private-key: ${{ secrets.FOUNDWEEKENDS_BOT_KEY }}
        owner: "foundweekends"
        repositories: "foundweekends.github.io"
    - name: Push to gh-pages
      if: ${{ github.repository_owner == 'foundweekends' && github.ref == 'refs/heads/main' && github.event_name == 'push' }}
      uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # v4.7.4
      with:
        repository-name: "foundweekends/foundweekends.github.io"
        token: ${{ steps.generate_token.outputs.token }}
        branch: master
        folder: target/site
        clean: true
